    <!-- MODAIS DO PARTICIPANTE (ORQUESTRADOR MODULAR) -->

    <!-- 1. Modal de Edição de Perfil (Nome, WhatsApp, Social Handle) -->
    {% include 'participants/partials/_modal_perfil.html' %}

    <!-- 2. Modal Lightbox de Prévia do Photocard / Item com Stepper de 5 Estágios -->
    {% include 'participants/partials/_modal_preview_item.html' %}

    <!-- 3. Modais de Ações de Pacotes Nacionais (Cancelar e Confirmar Entrega) -->
    {% include 'participants/partials/_modal_pacote_acoes.html' %}
