{% extends 'base.html' %}

{% block title %}Conexão WhatsApp (Evolution API) - CEG Manager{% endblock %}

{% block content %}
<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-8" x-data="whatsappManager()">
    {% include 'admin/partials/_whatsapp_header.html' %}

    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
        <div class="lg:col-span-6">
            {% include 'admin/partials/_whatsapp_status_device.html' %}
        </div>
        <div class="lg:col-span-6">
            {% include 'admin/partials/_whatsapp_test_send.html' %}
        </div>
    </div>
</div>

{% include 'admin/partials/_whatsapp_app_script.html' %}
{% endblock %}
